body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.left-border h1{
    margin: 0;
    padding-left: 13px;
    font-family: 'Domine', serif;
    font-size: 64px;
    border-left: 4px solid;
    border-image: linear-gradient(#6E26B6, #AF6A87) 30;
}

span{
    color: #C47C7C;
}
.top{
    display: flex;
    width: 85%;
    margin: auto;

    
}
.half-width{
    width: 50%;
}
.half-width img{
    max-width: 80%;
    margin: auto;
}
.top-left{
    
    margin-top: 100px;
}
.botton{
    margin-top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #E5E5E5;
    font-weight: 550;
    background-color: #85479F;
    padding: 12px 40px;
    border-radius: 5px;
    
    
}
.top-left-para{
    margin-bottom: 40px;
}
p{
    padding-top: 25px;
    font-size: 20px;
    margin-bottom: 40px;
}
/* top section end */
.my-mission{
    display: flex;
     width: 85%;
     margin: auto; 
}
#middle-heading{
    margin: 40px auto;
    text-align: center;
    font-size: 40px;
}
.three-divs{
    width: 28%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    
}
.three-divs img{
    max-width: 40%;
}
#first-div{
    background-color: #EDF5F6;
}
#second-div{
    background-color:#FEEEEE;
}
#third-div{
    background-color: #FEF4D6;
}
/* middle section  */
.coding{
    display: flex;
    margin-top: 100px;
    width: 85%;
    margin: auto;
}
.half-width-2 img{
    max-width: 80%;
    max-height: 80%;
    padding: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
}

/*  app section  */
.Application h1 {
    text-align: center;
    margin: 40px;
    font-size: 40px;
}
.app{
    display: flex;
    width: 85%;
    margin: auto;
}
.app-photo img{
    width: 500px;
    border-radius: 20px;
    /* margin: auto; */
}
.App-Fetures{
    margin: auto;
    padding-left: 50px;
}





/* footer */
#footer{
    text-align: center;
    background-color: black;
    color: #E5E5E5;
    margin: 0px;
    width: 100%;
}

#footer h1 {
    font-family: 'Domine', serif;
    font-size: 24px;
    padding-top: 30px;
}
#footer h1 span {
    color:#85479F;
}
#footer p {
    padding-bottom: 30px;
    font-size: 10px;
}