body{
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin: auto;
}

.left-border h1{
    margin: 0;
    padding-left: 13px;
    font-family: 'Domine', serif;
    font-size: 64px;
    border-left: 4px solid;
    border-image: linear-gradient(#6E26B6, #AF6A87) 30;
}

span{
    color: #C47C7C;
}
.top{
    display: flex;
    
}
.half-width{
    width: 50%;
}
.half-width img{
    max-width: 80%;
}
.top-left{
    
    margin-top: 100px;
    /* margin-left: 100px; */
}
.botton{
    margin-top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #E5E5E5;
    font-weight: 550;
    background-color: #85479F;
    padding: 12px 40px;
    border-radius: 5px;
    
    
}
.top-left-para{
    margin-bottom: 40px;
}
p{
    padding-top: 25px;
    font-size: 20px;
}
/* top section end */
.my-mission{
    display: flex;
    /* width: 80%;
    margin: auto; */
}
#middle-heading{
    margin: 40px auto;
    text-align: center;
}
.three-divs{
    width: 25%;
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
    border-radius: 15px;
    
}
.three-divs img{
    max-width: 40%;
}
#first-div{
    background-color: #EDF5F6;
}
#second-div{
    background-color:#FEEEEE;
}
#third-div{
    background-color: #FEF4D6;
}
